.dashboard-container {
  text-align: center;
  margin-top: 50px;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230411/pngtree-coffee-border-background-image_2273778.jpg');
  background-size: cover;
  background-position: center center;

}